.users-container {
    margin: auto;
    min-height: 100%;
    padding-bottom: 100px;
    background-color: $lighterBlue;

    h1 {
        margin: 0;
    }

    .data-loader {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        overflow: auto;

        .loader {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 100%;

            font-size: 100px;
            font-weight: 600;
            text-shadow: 0 3px 6px rgb(16,27,30);

            background-color: $lightBlue;
            color: $mainBlue;
        }
    }

    .users-header {
        width: 100%;
        height: 200px;
        background-color: $mainBlue;
        box-shadow: 0 3px 6px rgba(16,27,30,0.4);
    }

    .users-top-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: -120px auto 0 auto;
        width: 1400px;
        height: 55px;

        background-color: $darkBlue;

        .search-bar-container {
            position: relative;
            margin-right: 30px;
            
            .search-users {
                height: 30px;
                width: 200px;
                border: none;
                border-radius: 4px;
                padding-left: 10px;

                box-shadow: 0 3px 6px rgba(16,27,30,0.4);
                transition: width .2s;

                &.closed {
                    width: 18px;

                    &::-webkit-input-placeholder { /* WebKit browsers */
                        opacity:  0;
                    }

                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        opacity:  0;
                    }

                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        opacity:  0;
                    }

                    &:-ms-input-placeholder { /* Internet Explorer 10+ */
                        opacity:  0;
                    }
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 4px 0px $lightBlue;
                }
            }

            img {
                position: absolute;
                top: 4px;
                right: 3px;

                background-color: $white;
                cursor: pointer;
            }
        }

        .add-user-button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            top: 48px;
            right: 30px;
            width: 30px;
            height: 30px;

            background-color: $gray;

            &:hover {
                transform: scale(1.2);
                background-color: $mainBlue;
                color: $white;
            }

            img {
                transform: rotate(45deg);
            }
        }
    }

    .user-table {
        margin: auto;
        width: 1400px;

        text-align: left;
        border-collapse: collapse;
        border: none;
        box-shadow: 0 6px 8px rgba(16,27,30,0.4);

        th, td {
            padding: 10px 20px;
            font-size: 14px;
        }

        thead {
            background-color: $darkBlue;
            color: $white;

            th {
                text-transform: uppercase;
            }

            .user-info {
                padding-left: 40px
            }
        }

        tbody {
            tr {
                background-color: $lightBlue;
                transition: transform .2s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0 3px 6px rgba(16,27,30,0.4);
                }

                &:nth-of-type(even) {
                    background-color: $lighterBlue;
                }

                .user-info {
                    display: flex;
                    align-items: center;
                    padding-left: 40px;

                    .user-avatar {
                        margin-right: 10px;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;

                        background-color: white;

                        object-fit: cover;
                    }

                    p {
                        margin: 5px 0;
                    }

                    .username {
                        font-size: 12px;
                        color: rgb(105, 105, 105);
                    }
                }

                .remove-user {
                    width: 40px;

                    .remove-user-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;

                        background-color: $lightRed;

                        &:hover {
                            transform: scale(1.2);
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
}