.add-user-popup-container {
    // Popup is hidden by default
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0,0,0,0.4);

    .add-user-popup {
        margin: 10% auto;
        width: 675px;
        border-radius: 4px;

        background-color: $background;
        box-shadow: 0 10px 10px rgba(16,27,30,0.4);

        p {
            margin: 0;

            &.required {
                margin-top: 10px;
            }
        }

        .add-user-popup-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            
            background-color: $mainBlue;

            p {
                margin: 0 0 0 20px;
                color: $white;
                text-transform: uppercase;
            }

            .close-button {
                display: flex;
                align-items: center;
                margin-right: 20px;
                height: 25px;
                width: 25px;

                background-color: $gray;

                &:hover {
                    transform: scale(1.3);
                    background-color: $darkBlue;
                    color: $white;
                }

                img {
                    margin: 0 auto;
                    height: 15px;
                }
            }
        }

        .add-user-popup-content {
            display: flex;
            flex-direction: column;
            padding: 20px;

            .validation-error-messages {
                margin-top: 5px;
                width: 46%;
                color: $lightRed;
            }

            .avatar-upload {
                margin: 0px auto;
                text-align: center;

                input {
                    font-family: raleway;
                    padding: 0;
                    margin: 0;
                    width: 200px;
                    height: 25px;
                    padding-top: 5px;
                    text-align: center;
                }

                input[type=file]::file-selector-button {
                    display: none;
                }

            }

            .username-email-container {
                display: flex;
                justify-content: space-between;

                .user-email, .user-username {
                    width: 48%;
                }

                input, p {
                    width: 96%;
                }
            }  

            .user-full-name, .user-info {
                display: flex;
                justify-content: space-between; 

                input {
                    width: 46%;
                }

                .phone-number-container {
                    width: 48%;

                    input {
                        width: 95%;
                    }

                    p {
                        width: 100%;
                    }
                }
            }

            input {
                margin-top: 20px;
                height: 30px;
                border: 1px solid $darkBlue;
                border-radius: 4px;
                padding-left: 10px;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 8px 0px $mainBlue;
                }
            }

            // Remove input type number spinner: Chrome, Safari
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            // Firefox
            input[type=number] {
                -moz-appearance: textfield;
            }

            button {
                margin-left: auto;
                width: 200px;
                height: 32px;
                padding: 0 20px;
                background-color: $lightBlue;

                &:disabled {
                    background-color: $gray;
                    color: $white;
                    cursor: not-allowed;
                }
    
                &:hover:not(:disabled) {
                    transform: scale(1.1);
                    background-color: $darkBlue;
                    color: $white;
                }

            }
        }
    }
}